{
  "openapi": "3.0.1",
  "info": {
    "version": "2.0.0",
    "title": "Wallet API overview",
    "description": "Wallet API overview",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "consumes": ["application/json", "multipart/form-data"],
  "produces": ["application/json"],
  "servers": [
    {
      "url": "https://wallet-proj.osc-fr1.scalingo.io/"
    },
    {
      "url": "http://localhost:4000/"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authorization endpoints"
    },
    {
      "name": "Users",
      "description": "User endpoints"
    },
    {
      "name": "Transactions",
      "description": "Transactions endpoint"
    }
  ],
  "schemes": ["http"],
  "paths": {
    "/api/auth/signup": {
      "post": {
        "tags": ["Auth"],
        "summary": "User Registration",
        "requestBody": {
          "description": "Body of request for user registration",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User-registration-request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User was created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User-auth-response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email, password and name should be provided"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Can't create user because email already taken",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User with email: {{submited email}} already exist"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Login user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User-login-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User successfully logged in",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User-auth-response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email and password should be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "User unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email or password is wrong"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "get": {
        "tags": ["Auth"],
        "summary": "Logout user (requires authentication token)",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "204": {
            "description": "User successfully logged out"
          },
          "401": {
            "description": "User unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not authorized"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/current": {
      "get": {
        "tags": ["Users"],
        "summary": "Get user information (requires authentication token)",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns user information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User-auth-response"
                }
              }
            }
          },
          "401": {
            "description": "User not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not authorized"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/category": {
      "post": {
        "tags": ["Users"],
        "summary": "Add new transaction category (requires authentication token)",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "description": "Body of request for adding new category",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User-add-category-request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns updated transaction categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User-categories-response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Category type and name should be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "User not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not authorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Demo version doesn't support this",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Sorry, demo version doesn't support this feature"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/name": {
      "patch": {
        "tags": ["Users"],
        "summary": "Update user name (requires authentication token)",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "description": "Body of request for update user name",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User-update-name-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns updated user name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User-update-name-response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "New name should be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "User not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not authorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Demo version doesn't support this",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Sorry, demo version doesn't support this feature"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/email": {
      "patch": {
        "tags": ["Users"],
        "summary": "Update user email (requires authentication token)",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "description": "Body of request for update user email",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User-update-email-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns updated transaction categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User-update-email-response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "New email should be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "User not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not authorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Demo version doesn't support this",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Sorry, demo version doesn't support this feature"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/subscription": {
      "patch": {
        "tags": ["Users"],
        "summary": "Update user subscription (requires authentication token)",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "description": "Body of request for update user subscription",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User-update-subscription-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns updated user subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User-update-subscription-response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Subscription should be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "User not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not authorized"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/delete": {
      "delete": {
        "tags": ["Users"],
        "summary": "Delete user from database (requires authentication token)",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes user",
            "content": {
              "application/json": {
                "message": "User has been deleted"
              }
            }
          },
          "401": {
            "description": "User not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not authorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Demo version doesn't support this",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Sorry, demo version doesn't support this feature"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/transactions": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Get user's transactions (requires authentication token)",
        "parameters": [
          {
            "in": "query",
            "type": "integer",
            "name": "page",
            "description": "Requested page number"
          },
          {
            "in": "query",
            "type": "integer",
            "name": "limit",
            "description": "Requested limit items per page number"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Get user's transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transactions-response"
                }
              }
            }
          },
          "401": {
            "description": "User not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not authorized"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Transactions"],
        "summary": "Post user's transaction (requires authentication token)",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "description": "Body of request for post user's transaction",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Transactions-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User's Transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transactions-response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Date, amount and category should be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "User not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not authorized"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Transactions"],
        "summary": "Delete user's transactions (requires authentication token)",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Delete user's transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "10 transactions have been deleted"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "User not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not authorized"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/transactions/stats": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Get user's transactions statistic (requires authentication token)",
        "parameters": [
          {
            "in": "query",
            "type": "string",
            "name": "month",
            "description": "Requested month of transactions statistics"
          },
          {
            "in": "query",
            "type": "string",
            "name": "year",
            "description": "Requested year of transactions statistics"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "User's Transactions statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transactions-stats-response"
                }
              }
            }
          },
          "401": {
            "description": "User not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not authorized"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "properties": {
          "id": {
            "type": "string",
            "example": "6248c39b6e52d51aeeabcc33"
          },
          "email": {
            "type": "string",
            "example": "user@gmail.com"
          },
          "password": {
            "type": "string",
            "example": "strong_password"
          },
          "token": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYyNDhjMzliNmU1MmQ1MWFlZWFiY2MzMyIsImlhdCI6MTY0ODkzNzY1OSwiZXhwIjoxNjQ5MDI0MDU5fQ.R_xVuzsK9Nzs9sj98Lk1lidJB27xDUjhYBOiPU-_fmY"
          },
          "name": {
            "type": "string",
            "example": "Mango"
          },
          "balance": {
            "type": "number",
            "example": "3000"
          },
          "totalTransactions": {
            "type": "integer",
            "example": "200"
          },
          "subscription": {
            "type": "string",
            "example": "basic"
          },
          "categories": {
            "type": "object",
            "properties": {
              "income": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": ["regular", "irregular"]
              },
              "expense": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": ["food", "education"]
              }
            }
          },
          "avatarURL": {
            "type": "string",
            "example": "avatars/Mango.png"
          }
        }
      },
      "User-registration-request": {
        "type": "object",
        "required": ["email", "password", "name"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email",
            "example": "mango@gmail.com"
          },
          "password": {
            "type": "string",
            "description": "User's password",
            "example": "strong_password"
          },
          "name": {
            "type": "string",
            "description": "User's name",
            "example": "Mango"
          }
        }
      },
      "User-login-request": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "mango@gmail.com"
          },
          "password": {
            "type": "string",
            "example": "strong_password"
          }
        }
      },
      "User-auth-response": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYyNDhjMzliNmU1MmQ1MWFlZWFiY2MzMyIsImlhdCI6MTY0ODkzNzY1OSwiZXhwIjoxNjQ5MDI0MDU5fQ.R_xVuzsK9Nzs9sj98Lk1lidJB27xDUjhYBOiPU-_fmY"
          },
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "description": "User's email",
                "format": "email",
                "example": "mango@gmail.com"
              },
              "name": {
                "type": "string",
                "description": "User's name",
                "example": "Mango"
              },
              "balance": {
                "type": "Number",
                "description": "User's balance",
                "example": "0"
              },
              "subscription": {
                "type": "string",
                "description": "User's subscription",
                "example": "basic"
              },
              "categories": {
                "type": "object",
                "description": "User's personal transactions categories",
                "properties": {
                  "income": {
                    "type": "array",
                    "example": ["regular", "irregular"]
                  },
                  "expense": {
                    "type": "array",
                    "example": ["food", "education"]
                  }
                }
              },
              "avatarURL": {
                "type": "string",
                "description": "User's personal avatar url",
                "example": "avatars/Mango.png"
              }
            }
          }
        }
      },
      "User-add-category-request": {
        "type": "object",
        "required": ["category", "type"],
        "properties": {
          "type": { "type": "boolean", "example": "true" },
          "category": {
            "type": "string",
            "example": "school fund"
          }
        }
      },
      "User-categories-response": {
        "type": "object",
        "properties": {
          "categories": {
            "type": "object",
            "description": "Updated user categories",
            "properties": {
              "income": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": ["regular", "irregular"]
              },
              "expense": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": ["food", "education"]
              }
            }
          },
          "message": {
            "type": "string",
            "example": "New category {{category}} created successfully"
          }
        }
      },
      "User-update-name-request": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "example": "Kiwi"
          }
        }
      },
      "User-update-name-response": {
        "type": "object",
        "description": "Updated user name",
        "properties": {
          "name": {
            "type": "object",
            "description": "Updated user name",
            "example": "Kiwi"
          },
          "message": {
            "type": "string",
            "example": "User name updated successfully"
          }
        }
      },
      "User-update-email-request": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "new@email.com"
          }
        }
      },
      "User-update-email-response": {
        "type": "object",
        "description": "Updated user email",
        "properties": {
          "email": {
            "type": "object",
            "format": "email",
            "description": "Updated user email",
            "example": "new@email.com"
          },
          "message": {
            "type": "string",
            "example": "User email updated successfully"
          }
        }
      },
      "User-update-subscription-request": {
        "type": "object",
        "required": ["subscription"],
        "properties": {
          "subscription": {
            "type": "string",
            "example": "premium"
          }
        }
      },
      "User-update-subscription-response": {
        "type": "object",
        "description": "Updated user subscription",
        "properties": {
          "subscription": {
            "example": "premium"
          },
          "message": {
            "type": "string",
            "example": "User subscription updated successfully"
          }
        }
      },
      "Transactions-request": {
        "type": "object",
        "required": ["date", "amount", "category"],
        "properties": {
          "date": {
            "type": "string",
            "description": "Date of transaction",
            "example": "2022-01-03T23:00:00.000Z"
          },
          "type": {
            "type": "boolean",
            "description": "Deposit or withdraw",
            "example": true
          },
          "category": {
            "type": "string",
            "description": "Category",
            "example": "Food"
          },
          "comment": {
            "type": "string",
            "description": "Comment",
            "example": "About a transactions"
          },
          "amount": {
            "type": "number",
            "description": "Amount of transaction",
            "example": 700
          }
        }
      },
      "Transactions-response": {
        "type": "object",
        "description": "User's finance data: transactions, balance, current page, total pages",
        "properties": {
          "transactions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string",
                  "description": "Transaction id",
                  "example": "624aa2c0f3a2ee5f009b105d"
                },
                "date": {
                  "type": "string",
                  "description": "Date of transaction",
                  "example": "03.01.2022"
                },
                "type": {
                  "type": "boolean",
                  "description": "Deposit or withdraw",
                  "example": true
                },
                "category": {
                  "type": "string",
                  "description": "Category",
                  "example": "Car"
                },
                "amount": {
                  "type": "number",
                  "description": "Amount of transaction",
                  "example": 50
                },
                "comment": {
                  "type": "string",
                  "description": "Comment to the transaction",
                  "example": "Went to the cinema"
                },
                "balance": {
                  "type": "number",
                  "description": "Total balance after the transaction",
                  "example": 700
                },
                "createdAt": {
                  "type": "string",
                  "description": "Date of creation",
                  "example": "2022-01-03T23:00:00.000Z"
                }
              }
            }
          },
          "balance": {
            "type": "number",
            "description": "Balance from User.balance",
            "example": 700
          },
          "page": {
            "type": "number",
            "description": "Page for pagination",
            "example": 1
          },
          "totalPages": {
            "type": "number",
            "description": "Total pages amount for pagination",
            "example": 4
          }
        }
      },
      "Transactions-stats-response": {
        "type": "object",
        "description": "Statistics for user transactions",
        "properties": {
          "income": {
            "type": "array",
            "description": "Array of income statistics",
            "items": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "Name of the category",
                  "example": "Regular income"
                },
                "sum": {
                  "type": "number",
                  "description": "Total sum of all transactions in this category",
                  "example": 700
                }
              }
            }
          },
          "expense": {
            "type": "array",
            "description": "Array of expense statistics",
            "items": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "Name of the category",
                  "example": "Food"
                },
                "sum": {
                  "type": "number",
                  "description": "Total sum of all transactions in this category",
                  "example": 230
                }
              }
            }
          },
          "totalIncome": {
            "type": "number",
            "description": "Total sum of all income transactions",
            "example": 1220
          },
          "totalExpenses": {
            "type": "number",
            "description": "Total sum of all expense transactions",
            "example": 208
          },
          "firstTransactionDate": {
            "type": "string",
            "description": "Date of the most early transaction of all",
            "example": "2012-04-20T09:23:41.105Z"
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
